name: docs

on:
  push:
    tags:
      - 'v*.*.*'

env:
  nim-version: 1.4.8 # FIXME
  nim-src: src/faker.nim
  deploy-dir: .gh-pages

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ env.nim-version }}
      - run: nimble doc --index:on --project --out:${{ env.deploy-dir }} ${{ env.nim-src }}
      - name: Deploy documents
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.deploy-dir }}
