name: test

on:
  push:
    branches:
      - master
      - develop
    paths:
      - '**.nim'
      - '.github/workflows/*'
  pull_request:
    paths:
      - '**.nim'
      - '.github/workflows/*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        nim-version:
          - '1.0.0'
          - '1.0.x'
          - '1.2.x'
          - '1.4.x'
          - '1.6.x'
          - '2.0.x'
          - 'stable'
    steps:
      - uses: actions/checkout@v5
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: ${{ matrix.nim-version }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nimble build -Y
      - run: nimble install -Y
      - run: nimble tests

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: 1.4.8 # FIXME
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: nimble doc --index:on --project src/faker.nim
